<?xml version="1.0"?><!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration><configSections><sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/></sectionGroup></sectionGroup></configSections>
  <system.web>
   <!-- <customErrors mode="On" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="vista/Error404.aspx"/>
      <error statusCode="403" redirect="vista/Error403.aspx"/>
      <error statusCode="500" redirect="vista/Error500.aspx"/>
      <error statusCode="500" redirect="vista/Error503.aspx"/>
    </customErrors>-->
    <globalization uiCulture ="es" culture="es-co"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></assemblies>
    <buildProviders><add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></buildProviders></compilation>
    <httpRuntime targetFramework="4.5"/>
  <httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers></system.web>
  <connectionStrings>
      <add name="ConexionHospital" connectionString="Server=127.0.0.1;User Id=postgres;Password=1234;Database=medicapp1.3;" />
      <add name="Medicapp13DataContextConnectionString" connectionString="User Id=postgres;Password=1234;Host=localhost;Database=medicapp1.3;Persist Security Info=True" />
  </connectionStrings>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
  </appSettings>
<system.webServer>
  <httpErrors errorMode="Custom">
    <remove statusCode="404"/>
    <remove statusCode="500"/>
    <remove statusCode="403"/>
    <remove statusCode="503"/>
    <error statusCode="404" path="vista/Error404.aspx" responseMode="ExecuteURL"/>
    <error statusCode="403" path="vista/Error403.aspx" responseMode="ExecuteURL"/>
    <error statusCode="500" path="vista/Error500.aspx" responseMode="ExecuteURL"/>
    <error statusCode="503" path="vista/Error503.aspx" responseMode="ExecuteURL"/>
  </httpErrors>
  <handlers>
    <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      </handlers>
        <validation validateIntegratedModeConfiguration="false"/>
          </system.webServer>
            <businessObjects>
              <crystalReports>
                <rptBuildProvider>
  <add embedRptInResource="true"/></rptBuildProvider>
</crystalReports>
</businessObjects>
</configuration>